.SquareContainer {
  width: 20px;
  height: 20px;
  background-color: #747bff;
}

.Box {
  width: 40px;
  height: 40px;
  background-color: blue;
  border: solid 1px black;
  display: inline-block;
}

.boxContainer {
  /*animation: swing 3s normal ease;*/
}

/*// swing animaition //*/
/*animation: swing 2s infinite ease;*/
@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(50deg);
  }
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
