#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}


.grid-board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 0;
    align-self: flex-start;
}